* {
  border: 0;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  height: auto;
  background-color: #F7F7F7 !important;
}

.loaderApp {
 animation: loaderAnimation 5s 2 both;
}


@keyframes loaderAnimation {
 from{
   transform: scale(0);
   
 }
 to{transform: scale(1);}
}